/*STYLES*/

*{
	font-family: "Lucida Console", "Courier New", monospace;
	outline: 1px solid transparent;
}

/* Formatting */ 
.row-one .header,
.row-one .subheader{
	display: flex;
	justify-content: space-between;
}

.header{
	padding-left: 20px;
	padding-right: 20px;
}

.information-box .header-title{
	font-size: 48px;
	font-weight: 900;
	flex-wrap: wrap;
}

.row-one{
	background: #1F2937;
	color: #F9FAF8;
	padding: 20px;
	padding-left: 150px;
	padding-right: 150px;
	height: 600px;
}

.subheader{
	padding-top: 20px;
}

.link{
	align-content: flex-start;
	margin: 10px;
}

/* Styling */

.header-logo{
	width: 400px;
	margin: 10px;
}

.subheader-text{
	flex-wrap: wrap;
}

.information-box,
.image-container{
	padding: 25px;
}

.image-container{
	border-radius: 30px;
	margin: 15px;
	padding: 40px;
	background: grey;
}

.button1{
	color: blue;
}

.sub-elements{
	display:flex;
	justify-content: center;
}

.element{
	border-radius: 15px;
	outline: 2px solid #3882F6;
	padding: 20px;
	width: 100px;
	height: 100px; 
	margin: 10px;
}

.subheader-two{
	text-align: center;
	padding-top: 35px;
	height: 40px;
	font-weight: bold;
}

.image-text{
	text-wrap: balance;
	font-size: 10px;
	color: #1F2937;
}
.box-content{
	display: flex;
	flex-direction: column;
	margin: 20px;
	height: 200px;
	width: 160px;
	justify-content: center;
}

.row-two{
	padding: 50px;
}

.row-three{
	background: #E5E7EB;
	padding: 50px;
	padding-left: 600px;
	padding-right: 600px;
}

.author{
	text-align: right;
}