/*STYLES*/

*{
	font-family: "Lucida Console", "Courier New", monospace;
	outline: 1px solid transparent;
}

/* Formatting */ 
.row-one .header,
.row-one .subheader{
	display: flex;
	justify-content: space-around;
	
}

.row-one{
	background: #1F2937;
	color: #F9FAF8;
	padding: 20px;
	height: 300px;
}

.link{
	align-content: flex-start;
	margin: 10px;
}

/* Styling */

.header-logo{
	width: 400px;
	margin: 10px;
}

.subheader-text{
	flex-wrap: wrap;
}